/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bodybg {
     -fx-background-image: url("https://i.imgur.com/AkEdgTc.png");
     -fx-background-size: 100% 100%;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.welcome-text {
   -fx-font-size: 22px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#CD5252, #401A1A);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#401A1A, #CD5252);
}